@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700;900&display=swap');

:root {
    --day-base-elevation-01: #FFF;
    --day-base-base-02: #F6F7F8;
    --day-text-text-02: rgba(0, 0, 0, 0.54);
    --day-text-link: #336FEE;
    --day-text-text-01: rgba(0, 0, 0, 0.80);
    --day-base-base-01: #FFF;
    --day-base-base-08: #333;
    --day-base-primary: #FFDD2D;
    --day-base-primary-hover: #FCC521;
    --day-base-primary-active: #FAB619;
    --day-system-focus: rgba(51, 51, 51, 0.48);
}

body {
    padding: 0;
    margin: 0;
    font-family: Roboto, sans-serif;
    overflow-x: hidden;
    background: var(--day-base-base-02);
    color: var(--day-text-text-01);
    font-size: 15px;
    line-height: 24px;
}

.header {
    height: 104px;
}

.header-main {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 64px;
    box-shadow: 0 4px 24px 0 rgba(0, 0, 0, 0.12);
    padding: 0 calc((100vw - 1104px) / 2);
}

.left-side {
    display: flex;
    align-items: center;
    gap: 24px;
}

.right-side {
    display: flex;
    align-items: center;
    gap: 8px;
    color: var(--day-text-link);
    font-size: 13px;
    cursor: pointer;
}

.logo {
    margin-right: 24px;
    cursor: pointer;
    width: 151px;
}

.tab-item {
    display: flex;
    align-items: center;
    font-size: 13px;
    color: var(--day-text-text-02);
    height: 64px;
    cursor: pointer;
}

.active {
    color: var(--day-text-text-01);
    box-shadow: 0 -2px 0 0 #666 inset;
}

main {
    margin: 0 calc((100vw - 1104px) / 2);
}

h1 {
    font-size: 44px;
    font-weight: 900;
    margin: 0;
    line-height: 48px;
}

h2 {
    font-size: 24px;
    font-weight: 700;
    margin: 0;
    line-height: 28px;
}

p {
    margin: 0;
}

img {
    width: 100%;
}

ul {
    display: flex;
    flex-direction: column;
    gap: 12px;
    margin: 0;
    padding: 0;
}

.bullit {
    width: 12px;
    height: 24px;
}

li {
    display: flex;
    gap: 8px;
    flex-shrink: 0;
}

.section-1 {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 40px 0;
    gap: 24px;
}

button {
    border-radius: 8px;
    background: var(--day-base-primary);
    border: none;
    padding: 16px 36px;
    cursor: pointer;
    margin: 16px 0 40px;
    transition: background .3s;
}

button:hover {
    background: var(--day-base-primary-hover);
    transition: background .3s;
}

button:active {
    background: var(--day-base-primary-active);
    transition: background .3s;
}

button:focus {
    border: 2px solid var(--day-system-focus);
    padding: 14px 36px;
    transition: background .3s;
}

.section-2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 76px 0 24px;
    gap: 48px;
}

.desktop-image-plus-text {
    display: flex;
}

.desktop-image {
    width: calc(100% - 384px);
}

.section-2-text {
    padding: 48px 0 0 48px;
}

.vacancies, .cards, .cards-2 {
    display: flex;
    gap: 48px;
    width: 100%;
}

.cards-2 {
    margin-top: 28px;
}

.vacancy, .card {
    display: flex;
    flex-direction: column;
    gap: 16px;
    width: 100%;
    background: var(--day-base-base-01);
    border-radius: 24px;
    padding: 32px;
}

.card {
    gap: 12px;
}

.icon {
    width: 36px;
    margin-bottom: 32px;
}

.subtitle {
    text-align: center;
}

.number-icon-container {
    display: flex;
    justify-content: center;
    height: 12px;
    width: 100%;
}

.number-icon {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 56px;
    width: 56px;
    background: var(--day-base-base-08);
    border-radius: 16px;
    font-size: 24px;
    font-weight: 800;
    line-height: 32px;
    color: #fff;
    transform: translateY(-60px);
}

.footer {
    display: flex;
    justify-content: space-between;
    padding: 19px 0 22px;
    font-size: 13px;
    color: var(--day-text-text-02);
    box-shadow: 0 1px 0 0 #E7E8EA inset;
    margin: 127px calc((100vw - 1104px) / 2) 0;
}

.alink {
    text-decoration: none;
    color: #336FEE;
}